footer{background-color: #4C394E;
       height: 88px;
    width: 100%;
display: flex;
padding: 0 52px;
align-items: center;
color: #F8FDFE;
font-family: Cabin;
font-size: 16px;
font-weight: 400;
line-height: 24px;
justify-content: space-between;
}