header{box-sizing: border-box;
    width: 100%;
    position: fixed;
    margin: 0;
    z-index: 10;
    
}
.menu-1{
    display: flex;
height: 72px;
padding: 16px 52px;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 10px;

background: #10BBD5;
}
.cart{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #F8FDFE;
    font-family:Cabin;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

 .cart button{position: relative;}


.cart-quantity{position: absolute;
            top: 8px;
            left: 24px;}
.menu-2 {
    display: flex;
padding: 4px 52px;
justify-content: space-between;
align-items: center;
gap: 10px;
background: #FFF;
color: black;
font-family: Cabin;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

ul{
    display: flex;
    gap: 40px;
 }
