body{ background:  #EEEEEF;
      }

main{padding-top: 54px;
    padding-left: 2%;
    padding-right: 2%;
    
}
.cards{display: flex;
    flex-wrap: wrap;
    gap: 32px;
    column-gap: 1%;
    justify-content: center;
}

.btn-chat{ background-color:#10BBD5;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    align-items: center;
    position: sticky;
    top: 500px;
    left: 95%;
    
    
    }

h1{color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
    margin: 32px 0;
    border-bottom: solid 1px #A8A8A8;
padding-bottom: 23px;
    }

.product-card-content{
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 16px;
    border: solid 1px #A8A8A8;
    width: auto;
    background-color: white;

}

.actio{
    position: absolute;
    display: flex;
    gap: 4px;
}

.hit{
    padding: 4px 8px;
    align-items: center;
        border-radius: 4px;
    background: #4200FF;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    }

.new{
    padding: 4px 8px;
    align-items: center;
        border-radius: 4px;
    background: #AF39E7;;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.many-off{padding: 4px 8px;
    align-items: center;
        border-radius: 4px;
    background:  #EA33C0;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;}

.img-content{
    width: 178px;
height: 280px;
}
.photo-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0 32px;
    
    

}


.content{
    gap :8px;}

.title{align-items: flex-start;
    gap: 8px;
}

.title-top{
    
color:#1F1F1F;
font-family: Cabin;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px;
border-bottom: solid 1px #A8A8A8;
width: 242px;
height: 31px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;

}

.title-bottom{
    overflow: hidden;
color: #8E8E8E;
text-overflow: ellipsis;
font-family: Cabin;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.price{
    display: flex;
    gap: 24px;
}

.many{
    color: #E90000;
font-family: Cabin;
font-size: 24px;
font-weight: 500;
line-height: 32px;
}

.sale{
    text-decoration: line-through;
    color:#8E8E8E;
font-family: Cabin;
font-size: 24px;
font-weight: 500;
line-height: 32px;
}

.btn-brown{
    border-radius: 4px;
background:#4C394E;
color: #F8FDFE;
display: flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
font-family: Cabin;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.btn-green{
    border-radius: 4px;
    background:#4D762D;
    color: #F8FDFE;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

